:root {
    --cor-do-texto: #FFFFFF;
    --cor-do-botão: #167BF7;
    --cor-vermelha-do-texto: #EC2F46;
    --cor-do-aviso-cinza: #C0C0C0;
    --cor-do-fundo: #00030C;
    --cor-do-botão-ao-passar: #0599d3;
}

body {
    background-color: var(--cor-do-fundo);
    color: var(--cor-do-texto);
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--cor-do-botão);
    color: var(--cor-do-texto);
    border-radius: 15px;
    padding: 1em;
    border: 2px solid red;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-bottom: 1em;

}

.botao__secundario {
    background-color: transparent;
    
}

.container__aviso {
    color: var(--cor-do-aviso-cinza);
    
}

.container__titulo {
    font-size: 26px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;

}

.secundario {
    align-items: center;
    margin: 0 6em;
    text-align: center;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 50px;
    color: var(--cor-do-texto);
    margin-bottom: 10px;
}

.descricao__texto {
    color: var(--cor-do-aviso-cinza);
}

.botao__terciario {
    display: inline-block;
    margin-top: 1em;
}

.imagens__telas {
    width: 100%;
    align-items: center;
    margin: 0em 2em;
    
}

.container__descricao2 {
    margin-top: 25%;
    
}

.terciario {
    padding: 10em 6em 0em 6em;
}

.quaternario {
    align-items: center;
    margin: -6em 6em 0em 6em;
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style: none;
}

.dispositivos {
    text-align: center;
    margin: 6em 0em;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--cor-do-texto);
    margin: 1em;
}

.lista__item{
    font-size: 32px;
    color: var(--cor-do-texto);
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--cor-do-texto);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cor-do-aviso-cinza);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.lista__link a:hover {
    color: var(--cor-do-botão);
}

.lista__link a:active{
    color: purple;
}

.container__botao:hover {
    background-color: var(--cor-do-botão-ao-passar);
    color: var(--cor-do-fundo);
}